html,body{
    background-image: url("https://animesher.com/orig/1/158/1580/15807/animesher.com_black-and-white-pink-nature-1580718.gif");

    background-position: center;

    height: 100%;
    width: 100%;
    
}